page-login {
    .resendLink {
     // font-family: $general-font;
      color: #5ec359;
    }
    .label {
      color : #867e7e
    }
    .text-input::-moz-placeholder {
      color: #e73535;
      font-size: 13px
    }
    
    .text-input:-ms-input-placeholder {
      color: #e73535;
      font-size: 13px
    }
    
    .text-input::-webkit-input-placeholder {
      text-indent: 0;
      color: #e73535;
      font-size: 13px
    }
    
    .error {
          margin-left: 15px;
          font-size: 12px;
          color: #E40F0F;
          //font-family: $general-font
    }
    ion-content {
      background: linear-gradient(to left, #0a0a0a 10%, #374141 150%) !important
  
    }
    ion-segment {
      background-color: #000000
    }
    
    ion-item.creds {
      border-bottom: 1px solid #888484 !important;
    }
    ion-item {
      background: transparent !important
    }
  
    ion-input {
      border-bottom: 0;
      border-radius: 5px;
      padding-left : 10px;
      color: #a19a9a
    }
    
    .logo {
      img {
        width: 50%;
        box-shadow: 10px 10px 10px;
      }
      padding: 100px 100px 50px 100px !important
    }
    .focus {
      border-color: #51a7e8;
      outline: 2px solid #51a7e8;
      -webkit-box-shadow: 0 0 8px 1px #51a7e8;
      box-shadow: 0 0 8px 1px #51a7e8;
    }
    
  }
  