

<ion-content setScrollDisabled>

     
       <div text-center padding class="logo" style="position:relative">
        <img src="../assets/kryptonia-logo-transparent-bg.png" alt="No image">
    </div>
        <ion-item no-lines class="creds">
            <ion-icon name="ios-mail-outline" item-end color="light"></ion-icon>
          <ion-input type="text" placeholder="Email" [(ngModel)]="email" style="padding-bottom:0px"></ion-input>
        </ion-item>
 
        <ion-item no-lines class="creds">
            <ion-icon name="ios-lock-outline" item-end color="light"></ion-icon>
          <ion-input type="password" placeholder="Password" [(ngModel)]="password" style="padding-bottom:0px"></ion-input>
        </ion-item>
       
        <div padding text-center>
        <button ion-button color="dark" (click)="SigIn()">Login</button>
        </div>
  
</ion-content>