<ion-tabs tabsPlacement="top" color="primary">
    <ion-tab [root]="tab1Root" [rootParams]="{ username: username, user_id: user_id }" tabIcon="ios-chatbubbles"  tabTitle="Messages"></ion-tab>
    <ion-tab [root]="tab2Root" [rootParams]="{ username: username }" tabIcon="md-contacts" tabTitle="Group"></ion-tab>
    <ion-tab [root]="tab3Root" [rootParams]="{ username: username }" tabIcon="ios-contact" tabTitle="Friends"></ion-tab>
</ion-tabs>

