
<ion-content>
  <ion-content> 

    <div>
        <ion-list>
          
            <button ion-item *ngFor="let message of MesDetails" no-lines float-left>
            
              <div >
              <ion-avatar item-start>
                <img src="../assets/user.png">
              </ion-avatar>
             
              <p>{{message.message}}</p>
            </div>
            </button>     
          </ion-list>
    </div>
  
</ion-content>
</ion-content>

<ion-footer>
  <ion-toolbar>
   <ion-input type="text" [(ngModel)]="message"></ion-input>
   <button ion-button icon-only (click)="SendMessage()"><ion-icon name="ios-send"></ion-icon></button>
  </ion-toolbar>
</ion-footer>
