page-chat {
    .toolbar-content{
        display: flex;
    }
    .toolbar-md{
        padding: 0;
        min-height: 0;
    }

    .messageRight{
       background-color: green;
    }
    .messageLeft{
        background-color: blue;
    }
}
