<ion-header>
 
</ion-header>

<ion-content>
    <!-- //(ionInput)="filterItems($event)" -->
    <ion-toolbar color="primary">
        <ion-searchbar placeholder="Search" ></ion-searchbar>
    </ion-toolbar>


    <ion-list>
      <ion-list-header>
          Online Friends
        </ion-list-header>
    <button ion-item *ngFor="let user of UserAvailableOnline">
      <ion-avatar item-start>
        <img src="../assets/user.png">
      </ion-avatar>
      <p>{{user.name}}  <ion-icon name="checkmark-circle" float-right color="secondary"></ion-icon><p>
    </button>     
  </ion-list>


           <ion-list>
              <ion-list-header>
                  Offline Friends
                </ion-list-header>
            <button ion-item *ngFor="let user of UserAvailableOffline">
              <ion-avatar item-start>
                <img src="../assets/user.png">
              </ion-avatar>
              <p>{{user.name}}  <ion-icon name="checkmark-circle" float-right></ion-icon><p>
            </button>     
          </ion-list>


        <ion-list>
          <ion-list-header>
              Group Chat
            </ion-list-header>
        <button ion-item *ngFor="let user of ChatAvailable">
          <ion-avatar item-start>
            <img src="../assets/user.png">
          </ion-avatar>
          <p>{{user.name}}  <ion-icon name="checkmark-circle" float-right color="secondary"></ion-icon><p>
        </button>     
      </ion-list>
      
</ion-content>
