<ion-header>
  <!-- <ion-searchbar>
  </ion-searchbar> -->
</ion-header>

<ion-content> 

    <div>
        <ion-list>
          
            <button ion-item *ngFor="let message of chatHeadsContent; let i = index" (click)="chatBuddy(message.chatid,message.sender,message.receiver)">
              <ion-avatar item-start>
                <img src="../assets/user.png">
              </ion-avatar>
              <p>{{message.name}}</p>
              <p>{{message.chatid}}</p>
            </button>     
          </ion-list>
    </div>
  
</ion-content>
